<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <title>Projet NAN</title>
</head>
<body style=" background-color:rgb(238, 234, 234)">
<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="navfixed" style="margin-top: 0px; margin-bottom: 2px; position: fixed; width: 100%;z-index: 100">
        <a class="navbar-brand" href="/">ELIAS RESTAURANT</a>
        <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarColor01" aria-label="Toggle navigation" type="button" data-target="#navbarColor01" data-toggle="collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="produit">Produits</a>
            </li>
          </ul>

          <form class="form-inline my-2 my-lg-0">
            
            <a class="btn btn-success my-2 my-sm-0" href="dashboard">Admin</a>
          </form>

        </div>
      </nav>
      <br><br>

    


    <div class="jumbotron" id="prev" style="height:300px; margin: 0px auto; background: url('img/al3.jpg'); background-position: center;background-repeat: no-repeat; background-size: 100%; padding: 2px 2px;">
      <div style="background-color: rgba(51, 48, 48, 0.6); height: 100%; margin: 0px 0px; color: honeydew; padding-left: 30px">
      
      <br>
        <h3 class="display-2">Salut, bienvenue !</h3>
        <p class="lea">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <center> <a href="" class="btn btn-danger">S'inscrire</a href=""></center>
    </div>
    </div>
     
  </header>
  <div style="width: 95%; margin: auto auto">
    <style>
  
      .sticky{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        margin-bottom: 10px;
      }
    </style>

      <script type="text/javascript">
        // var nav=document.querySelector("nav");
        // var sticky = nav.offsetTop;
        // function scrolled(){
        //   if(window.pageYOffset>=sticky){
        //     nav.classList.add("sticky")
        //   }else{
        //     nav.classList.remove("sticky")
           
        //   }
        // }
        // addEventListener("scroll", scrolled,false);
        
        </script>